/* ==========================================================================
   IMPORTAÇÕES
   ========================================================================== */

   @import "base/_variables.css";
   @import "base/_reset.css";
   @import "base/_typography.css";
   
   @import "components/_navbar.css";
   @import "components/_hero.css";
   @import "components/_modules.css";
   @import "components/_benefits.css";  
   @import "components/_cta.css"; 
   @import "components/_statics.css";
   @import "components/_start.css"; 
   @import "components/_footer.css";
   
   @import "components/_quem-somos.css";
   @import "components/_educacao.css";
   @import "components/_financeiro.css";
   @import "components/_health.css";
   @import "components/_social.css";

   