/* css/main.css */
@import "./base/_tokens.css";
@import "./base/_typography.css";
@import "./base/_layout.css";
/* components */
@import "./components/_acocordion.css";
@import "./components/_button.css";
@import "./components/_dashboard.css";
@import "./components/_cards.css";
@import "./components/_navbar.css";
@import "./components/_footer.css";
@import "./components/_stats.css";
/* pages */
@import "./pages/_about.css";
@import "./pages/_home.css";
@import "./pages/_modules.css";
@import "./pages/_module-page.css";
@import "./pages/_quem-somos.css";
@import "./pages/_lgpd.css";
@import "./pages/_reports.css";
@import "./pages/_blog.css";


@import "./responsive/_mobile.css";