:root {
  --primary: #5a3f72;
  --primary-dark: #412c54;
  --primary-darker: #2a1a38;
  
  --secondary: #ffc107;
  --secondary-dark: #e0a800;
  
  --light: #ffffff;
  --light-gray: #f8f9fa;
  --gray: #6c757d;
  --dark: #2d2d2d;
  
  --font-main: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;
  
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  
  --shadow-sm: 0 2px 10px rgba(0,0,0,0.08);
  --shadow-md: 0 8px 30px rgba(0,0,0,0.12);
  
  --radius-md: 0.75rem; 
  --radius: 24px;          
  --radius-lg: 32px;
}

  
/* 0f0b16 */